---
---

$gradient1: #5cc088, #95c250, #76e649, #36b6db, #0084ed;
$gradient2: #5cc088, #0084ed, #5cc088;
$gradient3: #5cc088, #0084ed;
$gradient4: #5cc087, #94c2509f, #75e649bd, #36b7dba2, #0082ed;

@mixin gradient-text {
    @include gradient-text-stops($gradient1);
}

@mixin gradient-button() {
    @include gradient-button-stops($gradient2);
}

@mixin image-set-optimized-background-image($img) {
    background-image: url($img + ".png");
    background-image: -webkit-image-set(url($img + ".webp") 1x, url($img + ".png") 1x);
    background-image: image-set(url($img + ".webp") 1x, url($img + ".png") 1x);
}

@mixin gradient-text-stops($color-stops...) {
    background: linear-gradient(45deg, $color-stops);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

@mixin gradient-button-stops($color-stops...) {
    background: linear-gradient(45deg, $color-stops);
}

$cloudAnimationTime: 120s;
$cloudAnimationRepeat: 10;

$color1: #ffffff;
$color2: #a1a1a1;
$color3: #f7f7f7;
$color4: #828282;
$color5: #333333;
$color6: #232323;
$color7: #828282;
$color8: #dfdfdf;
$color9: #8890a4;

$transition-default: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

$morning-sky-dark: rgb(31, 131, 219);
$morning-sky-light: rgb(54, 177, 235);

$night-sky-dark: #000e1b;
$night-sky-light: #000f17;

$text-normal: $color4;
$text-light: $color1;
$text-light-2: $color2;

$border-radius1: 5px;

$font-family-headings: "Poppins", cursive;
$font-family-default: "Roboto", sans-serif;

*,
*:focus {
    outline: none !important;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    color: $text-normal;
    font-family: $font-family-default;
    height: 100%;
    position: relative;
    font-size: 1em;
    line-height: 1.5em;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headings;
    color: $color6;
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.04em;

    &.gradient {
        @include gradient-text();
    }
}

h1 {
    text-transform: uppercase;
    font-size: 50pt;
}

h2.heading {
    letter-spacing: -1px;
    font-size: 30pt;
    font-weight: 600;
    line-height: 3.4rem;
}

h3.heading {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5 {
    font-size: 30pt;
}

a {
    text-decoration: none;
}

@keyframes animateCloud {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100vw * $cloudAnimationRepeat;
    }
}

@keyframes animateCloudInverted {
    0% {
        background-position-x: 100vw * $cloudAnimationRepeat;
    }
    100% {
        background-position-x: 0%;
    }
}

.inner-limit {
    width: 100%;
    max-width: 1170px;
}

#home {
    position: relative;
    height: 100%;
    color: $text-light;
    transition: all 60s linear;

    #home-background {
        position: absolute;
        height: 73vh;
        width: 100%;
        top: 0;
        left: 0;
        background-size: auto 100%;
        background-repeat: repeat-x;
        background-position: center center;
        background-position-x: 0;
        background-image: url('{{ "/images/hero/clouds.png" | relative_url }}');
        opacity: 0.5;
        animation: animateCloud $cloudAnimationTime * 2 * $cloudAnimationRepeat linear infinite;
    }

    #home-background-inverted {
        position: absolute;
        height: 73vh;
        width: 100%;
        top: -35vh;
        left: 0;
        background-size: auto 100%;
        background-repeat: repeat-x;
        background-position: center center;
        background-position-x: 100vw * $cloudAnimationRepeat;
        background-image: url('{{ "/images/hero/clouds.png" | relative_url }}');
        opacity: 1;
        transform: rotateX(-180deg) rotateY(-180deg);
        animation: animateCloudInverted $cloudAnimationTime * $cloudAnimationRepeat linear infinite;
    }

    #home-inner {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: bottom center;
        @include image-set-optimized-background-image('{{ "/images/hero/moo-hero-no-cows" | relative_url }}');

        #cow {
            position: absolute;
            width: 25vw;
            height: 25vw;
            max-width: 1000px;
            max-width: 1000px;
            right: 10vw;
            bottom: 0;
            background-size: contain;
            background-repeat: no-repeat;
        }

        #home-inner-content {
            width: 90%;
            max-width: 100%;
            text-align: left;
            padding: 20px;

            h1 {
                font-size: 5vw;
                text-transform: none;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-color: #fff;
                -webkit-text-stroke-width: 2px;

                strong {
                    -webkit-text-fill-color: #fff;
                    -webkit-text-stroke-width: 0;
                    font-weight: bolder;
                }
            }

            h2 {
                font-size: 4em;
            }

            h3 {
                font-size: 3em;
            }

            h1,
            h2,
            h3 {
                color: $color1;
                line-height: 1em;
            }
        }
    }

    #logo {
        position: absolute;
        z-index: 999;
        width: 100%;
        padding: 30px;

        img {
            width: 13vh;
            aspect-ratio: 3324 / 957;
        }
    }

    &.morning {
        background: linear-gradient(171deg, $morning-sky-dark 0%, $morning-sky-light 100%);

        #logo {
            img {
                filter: drop-shadow(0px 0px 20px $morning-sky-dark);
            }
        }

        #home-background-moon,
        #home-background-stars {
            display: none;
        }

        #home-inner {
            #cow {
                background-image: url('{{ "/images/hero/awake-cow.png" | relative_url }}');
            }

            #home-inner-content {
                h1,
                h2,
                h3 {
                    filter: drop-shadow(0px 0px 7px $morning-sky-dark);
                }
            }
        }
    }

    &.night {
        background: linear-gradient(171deg, $night-sky-dark 0%, $night-sky-light 100%);

        #logo {
            img {
                filter: drop-shadow(0px 0px 20px $night-sky-dark);
            }
        }

        #home-background {
            opacity: 0.2;
        }

        #home-background-moon {
            position: absolute;
            height: 25vh;
            width: 25vw;
            top: 15vh;
            right: 15vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('{{ "/images/hero/moon.png" | relative_url }}');
        }

        #home-background-stars {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(transparent, $night-sky-light 100%),
                url('{{ "/images/hero/stars.png" | relative_url }}');
        }

        #home-background-inverted {
            // opacity: 0.7;
        }

        #home-inner {
            filter: grayscale(25%);

            #cow {
                background-image: url('{{ "/images/hero/sleeping-cow.png" | relative_url }}');
                cursor: pointer;
            }

            #home-inner-content {
                h1,
                h2,
                h3 {
                    filter: drop-shadow(0px 0px 7px $night-sky-dark);
                }
            }
        }
        
        // This is used to preload the image being used by the `woken` class in order to have a smoother transition
        &:after {
            position: absolute;
            width:0;
            height:0;
            overflow:hidden;
            z-index:-1;
            content: url('{{ "/images/hero/woken-cow.png" | relative_url }}');
        }

        &.woken #home-inner #cow {
            background-image: url('{{ "/images/hero/woken-cow.png" | relative_url }}');
            bottom: 50px;
            cursor: default;
        }
    }
}

#services {
    background: $color3;
    padding: 100px 10px;

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;

        .service {
            flex-grow: 1;
            text-align: left;
            margin: 20px;
            padding: 50px;
            max-width: 350px;
            background-color: $color3;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
            transition: $transition-default;

            &:hover {
                transform: scale(1.05);

                h3 {
                    filter: grayscale(0);
                }
            }

            .number {
                color: $color7;
                font-weight: 300;
                font-family: $font-family-default;
            }

            h3 {
                font-size: 18pt;
                font-weight: bold;
                margin: 15px 0;
                font-family: $font-family-headings;
                @include gradient-text-stops($gradient3);
                display: inline-block;
                transition: $transition-default;
                filter: grayscale(1);
            }

            .description {
                color: $color7;
                font-weight: 300;
                line-height: 1.8em;
                font-family: $font-family-default;
            }
        }
    }
}

#location {
    background: $color6;
    padding: 150px 15px;
    background-size: cover;
    background-image: url('{{ "/images/malta.jpg" | relative_url }}');
    background-position-x: 30%;
    background-position-y: center;
    position: relative;

    .overlay {
        background-image: linear-gradient(45deg, $gradient4);
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        top: 0;
        left: 0;
    }

    .container {
        z-index: 9;
    }
    h2,
    h3 {
        color: $color1;
    }

    h2 {
        line-height: 1.2em;
    }

    h3 {
        margin-top: 40px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 400;
        // opacity: 0.8;
    }
}

#industries {
    background: $color1;
    padding: 100px 15px;

    .industries {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .industry {
            flex-grow: 1;
            text-align: center;
            margin: 20px;
            padding: 40px;
            max-width: 350px;
            color: $color7;
            font-weight: 300;
            line-height: 1.8em;

            &:hover {
                h3 {
                    filter: grayscale(0%);
                }

                .iconInShape {
                    svg {
                        opacity: 1;
                        filter: grayscale(0%);
                    }
                }
            }

            h3 {
                @include gradient-text-stops($gradient3);
                transition: $transition-default;
                filter: grayscale(100%);
                display: inline-block;
            }

            .iconInShape {
                position: relative;

                svg {
                    transition: $transition-default;
                    opacity: 0.5;
                    filter: grayscale(100%);
                }

                .fas {
                    font-size: 30pt;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    background: white;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}

#expertise {
    background: $color3;
    padding: 100px 15px;
    position: relative;

    .expertise {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;

        .experience {
            width: 220px;
            text-align: center;
            color: $color7;
            font-weight: 250;
            line-height: 1.8em;
            padding: 40px 0;
            text-transform: uppercase;
            opacity: 0.5;
            transition: $transition-default;
            filter: grayscale(100%);

            i {
                font-size: 30pt;
                margin: 20px;
                color: $color2;
                @include gradient-text-stops($gradient3);
            }

            &:hover {
                opacity: 1;
                filter: grayscale(0%);
            }
        }
    }
}

#partners {
    padding: 100px 15px;

    #partners-list {
        padding-top: 80px;
        a {
            display: inline-block;
            padding: 40px;

            img {
                height: 50px;
                opacity: 0.8;
                filter: grayscale(1);
                transition: $transition-default;
            }

            &:hover {
                img {
                    opacity: 1;
                    filter: grayscale(0);
                }
            }
        }
    }
}

#contactText {
    background-image: linear-gradient(45deg, $gradient4),
    url('{{ "/images/office.jpg" | relative_url }}');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-position: center center;
    padding: 100px 15px;

    h2 {
        color: #fff;
        font-size: 33pt;
    }

    h3 {
        color: #fff;
        opacity: 0.8;
    }
}

#contact {
    padding: 100px 15px;

    #formSubmitted {
        display: none;
    }

    .contact {
        padding-top: 50px;

        .form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .col {
                flex: 0 0 50%;
                max-width: 50%;
                min-width: 300px;
                padding: 0 10px;
                text-align: right;
            }
            input,
            textarea {
                margin-bottom: 20px;
            }
            textarea {
                min-height: 184px;
            }
        }
    }
}

footer {
    background-color: #1f232c;
    padding: 120px 15px;
    overflow: hidden;
    text-align: center;
    color: $color9;

    a:visited,
    a:link {
        color: #fff;
    }

    .social,
    .text,
    .footnote {
        padding: 40px 0;
    }

    .social {
        a:visited,
        a:link {
            margin: 0 30px;
            font-size: 20pt;
        }
    }

    .text {
        color: $color9;

        h5 {
            color: $color9;
            font-weight: 300;
            font-family: $font-family-headings;
            letter-spacing: -2px;

            a,
            a.gradient:visited,
            a.gradient:link {
                font-weight: 600;
                letter-spacing: -0.5px;
                @include gradient-text();
            }
        }
    }

    .footnote {
        font-size: 13px;
    }

    .logo {
        width: 100px;
        margin: 15px 0 0 0;
        aspect-ratio: 3324 / 957;
    }
}

button,
.button {
    margin: 0;
    font-family: $font-family-headings;
    border: 0;
    cursor: pointer;
    color: $color1;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 12px 28px;
    text-transform: uppercase;

    @include gradient-button();
    background-size: 200% auto;
    transition: $transition-default;

    &:hover {
        background-position: right center;
    }
}

input,
textarea {
    padding: 15px 20px;
    margin: 0;
    width: 100%;
    border: 1px solid $color8;
    font-family: $font-family-default;
    resize: none;
    font-size: 1em;
    color: $color4;
    font-size: 14px;

    &::placeholder {
        color: $color8;
    }

    &:focus {
        border: 1px solid $color4;
    }
}

.min-100vw {
    min-width: 100vw;
}

.min-100vh {
    min-height: 100vh;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.flex-center-top {
    display: flex;
    align-items: center;
    justify-content: top;
    text-align: center;
    flex-direction: column;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media (max-width: 768px) {
    #home #home-inner #home-inner-content {
        padding: 30vh 0 0 0;

        h1 {
            font-size: 8vw;
            -webkit-text-stroke-width: 1px;
        }
    }

    #services .services .service.highlighted {
        transform: scale(1.05);

        h3 {
            filter: grayscale(0);
        }
    }

    #industries .industries .industry.highlighted {
        h3 {
            filter: grayscale(0%);
        }

        .iconInShape {
            svg {
                opacity: 1;
                filter: grayscale(0%);
            }
        }
    }

    #expertise .expertise .experience {
        width: 170px;

        &.highlighted {
            opacity: 1;
            filter: grayscale(0%);
        }
    }
}

@media (max-width: 768px) and (max-height: 560px) {
    #home #home-inner #home-inner-content {
        padding: 0;

        h1 {
            font-size: 8vw;
        }
    }
}

@media (max-width: 480px) {
}
