---
---

body, html {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    overflow: hidden;
    height:100%;
}

footer{
    position: absolute;
    bottom:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a0a0a0;
    right:0;
}

.heroBackground{
    height: 100%;
    max-height: 800;
    background-image: url('{{ "/images/hero/high-clouds.png" | relative_url }}');
    background-position-y: top;
    background-position-x: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    height: 100%;
    max-height: 800;
    background-image: url('{{ "/images/hero/grass-and-cow.png" | relative_url }}');
    background-position-y: bottom;
    background-position-x: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}