<section id="contact" class="min-100vh flex-center-center">
  <div id="contact-inner" class="min-100vh flex-center-center">
    <h1>Contact</h1>

    <div id="contact-inner-content">
      <div>
        <form name="submit-to-google-sheet">
          <input name="name" type="text" placeholder="Name" required />
          <input name="email" type="email" placeholder="Email" required />
          <textarea name="message" placeholder="Your message" required></textarea>
          <button type="submit" class="dark">Send</button>
        </form>
      </div>
    </div>
  </div>

</section>

<script>
  const webhookURL = 'https://discord.com/api/webhooks/820406078276763689/jnMcnuw_I8Cjd8wR-eOK2q0-ozKglalyHrHNfeK5ipR7Ayj67vELm_xYHBKVAeaEta4v';

  const form = document.forms["submit-to-google-sheet"];

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    var formData = new FormData(form);

    var payload = JSON.stringify({
      username: formData.get("name"),
      content: `${formData.get("email")}\r\n${formData.get("message")}`
    });

    fetch(webhookURL, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
      },
      body: payload
    })
      .then((response) => console.log("Success!", response))
      .catch((error) => console.error("Error!", error.message));
  });
</script>