<section id="contact" class="flex-center-center">
    <h2>Get in touch</h1>

    <div class="contact inner-limit">
        <form name="submit-to-google-sheet">
          <div class="form">
            <div class="col">
                <input name="name" type="text" placeholder="Your Name" required aria-label="Name" />
                <input name="email" type="email" placeholder="Your Email" required aria-label="Email" />
                <input name="phone" type="tel" placeholder="Your Mobile" required aria-label="Mobile" />     
            </div>
            <div class="col">        
                <textarea name="message" placeholder="Your message" required aria-label="Message"></textarea>
                <button type="submit" aria-label="Send">Send Message</button>
          </div>
          </div>
        </form>
    </div>

</section>

<script>
  const webhookURL = 'https://discord.com/api/webhooks/820406078276763689/jnMcnuw_I8Cjd8wR-eOK2q0-ozKglalyHrHNfeK5ipR7Ayj67vELm_xYHBKVAeaEta4v';

  const form = document.forms["submit-to-google-sheet"];

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    var formData = new FormData(form);

    var payload = JSON.stringify({
      username: formData.get("name"),
      content: `${formData.get("email")}\r\n${formData.get("message")}`
    });

    fetch(webhookURL, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
      },
      body: payload
    })
      .then((response) => console.log("Success!", response))
      .catch((error) => console.error("Error!", error.message));
  });
</script>