<footer>
    <div class="inner">
        <div class="social">
            <a href="https://www.facebook.com/moo.consult/" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/moo-mt/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/moo-mt/" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
        </div>
        <div class="text">
            <h5>Want to pick our brains? Send us an email</h5>
            <h5><a href="mailto:{{site.email}}" class="gradient">{{site.email}}</a></h5>
        </div>
        <div class="footnote">
            <div>
                This website is open-source at <a href="https://github.com/moo-mt/website" target="_blank" rel="noopener">moo-mt/website</a>.
            </div>
            <a href="{{ "/" | relative_url }}">
                <img class="logo" src="{{ "images/logo.svg" | relative_url }}" alt="moo Logo">
            </a>
            <div style="display: none;">{{ site.env.GITVERSION_SEMVER }}</div>
        </div>
    </div>
</footer>