<section id="home">
    {% include navigation.html %}
    <div id="home-background-stars"></div>
    <div id="home-background-moon"></div>
    <div id="home-background"></div>
    <div id="home-background-inverted"></div>
    <div id="home-inner" class="min-100vh flex-center-center">
        <div id="cow" onclick="wakeCow()"></div>
        <div id="home-inner-content">
            <h1>We provide</h1>
            <h1 id="heroTyper"></h1>
            <h1>to <strong>complex</strong> problems</h1>
        </div>
    </div>
</section>

<script>
    var currentHour = new Date().getHours();
    var hero = document.getElementById("home");

    if (currentHour > 6 && currentHour < 19)
        hero.classList.add("morning");
    else
        hero.classList.add("night");

    let cowClicked = 0;

    function wakeCow() {
        cowClicked++;

        if (cowClicked == 3) {
            console.warn("You've woken the cow!!");
            hero.classList.add("woken");
        }
    }
</script>