<nav id="main-menu">   
    <div id="logo" class="mobile-only">
        <a href="{{ "/" | relative_url }}">
            <img class="logo" src="{{ "images/moo.png" | relative_url }}" alt="moo Logo">
        </a>
    </div>

    <div id="navigation" class="hidden">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ "/" | relative_url }}">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services">
                    Services
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#industries">
                    Industries
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#expertise">
                    Expertise
                </a>
            </li>         
            <li class="nav-item">
                <a class="nav-link" href="#contact">
                    Contact
                </a>
            </li>
        </ul>
    </div>

    <div id="toggle" class="mobile-only">
        <a href="/"></a>
    </div>
</nav>