<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="language" content="english">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />

    <title>{{ site.title }}</title>

    <link rel="apple-touch-icon" sizes="192x192" href="{{ "/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/manifest.webmanifest" | relative_url }}">
    <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | relative_url }}" color="{{site.theme-color}}">
    <meta name="msapplication-TileColor" content="#f6f6f6">
    <meta name="theme-color" content="{{site.theme-color}}"/>

    <meta name="description" content="{{ site.description }}">

    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="{{ "/images/shareimage.png" | absolute_url }}" />
    <link rel="preconnect" href="https://storage.googleapis.com/">
    <link rel="preconnect" href="https://ka-f.fontawesome.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Poppins:wght@300;400;500;600"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/styles.css" | relative_url }}?{{site.time | date: '%s' }}">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-56NPH2G');</script>
    <!-- End Google Tag Manager -->
</head>

<body onclick>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56NPH2G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ content }}
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
    <script src="https://kit.fontawesome.com/67d6b9b43b.js" crossorigin="anonymous"></script>
    <script src="{{ 'js/script.js' | relative_url }}?{{site.time | date: '%s' }}"></script>

    {% include pwa-module.html %}
</body>
</html>
